body{
    text-align: center;
    background-color: rgb(173, 204, 231)
}

.heading{
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

}

img{
    height: 120px;
    width: 120px;
}
h2{
    font-family: 'Gravitas One', cursive;
}


div{
    width: 60%;
    height: 40%;
    margin:0 auto
    ;
}
.quoteBox{
    background-color: rgb(238, 238, 228);
    border-radius: 20%;
    padding-top: 10%;
}
.quote{
    font-family: 'Gravitas One', cursive;
}

button{
    margin-top: 10px;
    height: 70px;
    width: 120px;
    font-family: 'Gravitas One', cursive;
    background-color: rgb(27, 114, 189);
    color: rgb(238, 238, 228);
}

.right-quote{
    border-radius: 50%;
    background-color: rgb(27, 114, 189);
    margin-left: 80%;
    height: 40px;
    width: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.fa-quote-right {
    color:white;

}

.left-quote{
    border-radius: 50%;
    background-color: rgb(27, 114, 189);
    margin-right: 80%;
    height: 40px;
    width: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.fa-quote-left {
    color:white
    
}


